<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <% if(weixin) { %>
    <meta name="viewport" content="width=640, user-scalable=no,target-densityDpi=device-dpi" />
    <%} else {%>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <%}%>
    <meta content="telephone=no" name="format-detection" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title></title>
    <link rel="stylesheet" href="../css/base.css" />
    <% if(!weixin) { %>
    <script src="../js/auto.js"></script>
    <%}%>
</head>

<body>
    <div class="wrap">
        todo ...
    </div>
    <% if(isrequire) { %>
    <script src="../js/third/require.js"></script>
    <script src="../js/config.js"></script>
    <script>
        require(['base/app']);
    </script>
    <%}%>
</body>

</html>